<header class="header">
  <a href="./index.html ">
    <img class="logo" alt="Omnifood logo" src="/img/LOGORED.png" />
  </a>

  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-link" href="/">Trang chủ</a></li>
      <li>
        <a class="main-nav-link" href="/detailCourse">Chi tiết khoá học</a>
      </li>
      <li>
        <a class="main-nav-link" href="#testimonials">Liên hệ</a>
      </li>
      <li>
        <a class="main-nav-link nav-cta" href="#cta"
          >Để lại thông tin liên hệ</a
        >
      </li>
    </ul>
  </nav>

  <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</header>
