<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header'); -%>
  <body>
    <%- include('layouts/navbar'); -%>

    <main>
      <section class="section-how" id="how">
        <div class="container">
          <!-- <span class="subheading">How it works</span> -->
          <h2 class="heading-secondary">CHI TIẾT KHOÁ HỌC</h2>
          <h3 class="step-description description-secondary">
            QUAN TRỌNG – Trong cuộc sống hiện đại, con người ngày càng bận rộn
            và việc nấu nướng tốn quá nhiều thời gian, công sức. Vậy nên, xe lưu
            động bán đồ quay nướng, chất lượng, đảm bảo vệ sinh là giải pháp
            tuyệt vời với người tiêu dùng.
          </h3>
        </div>

        <div class="container grid grid--2-cols grid--center-v">
          <!-- STEP 01 -->
          <div class="step-text-box">
            <h2 class="step-description">
              NHỮNG GÌ TÔI CÓ THỂ GIÚP BẠN TRONG KHOÁ HỌC NÀY?
            </h2>
            <ul>
              <li class="step-description">
                HỌC VIÊN CỦA TÔI ĐÃ TẠO RA THU NHẬP ĐỀU ĐẶN TỪ 30-100 TRIỆU MỖI
                THÁNG SAU KHI ĐÃ TRỪ CHI PHÍ
              </li>
              <li class="step-description">
                HỌ ĐÃ CÓ THU NHẬP TỐT MÀ VẪN CÓ THỜI GIAN BÊN GIA ĐÌNH
              </li>
              <li class="step-description">
                HỌ BẮT ĐẦU VỚI SỐ VỐN RẤT NHỎ ĐỂ KINH DOANH ĐỒ QUAY NƯỚNG
              </li>
              <li class="step-description">
                HỌ ĐÃ CÓ THU NHẬP TỐT MÀ VẪN CÓ THỜI GIAN BÊN GIA ĐÌNH
              </li>
            </ul>
          </div>

          <div class="step-img-box">
            <img
              src="img/muctieu01.jpg"
              class="step-img"
              alt="iPhone app
            preferences selection screen"
            />
          </div>
        </div>

        <div class="container grid grid--2-cols grid--center-v">
          <!-- STEP 02 -->
          <div class="step-img-box">
            <img
              src="img/thamgia01.jpg"
              class="step-img"
              alt="iPhone app
              meal approving plan screen"
            />
          </div>
          <div class="step-text-box">
            <!-- <p class="step-number">02</p>
              <h3 class="heading-tertiary">Approve your weekly meal plan</h3> -->
            <h2 class="step-description">
              LỢI THẾ KHI BẠN CHỌN MÔ HÌNH KINH DOANH ĐỒ QUAY NƯỚNG LƯU ĐỘNG
              KHÔNG KHÓI
            </h2>
            <ul>
              <li class="step-description">
                VỐN ĐẦU TƯ THẤP CHỈ TỪ 20-35 TRIỆU ĐỂ BẮT ĐẦU KINH DOANH THAY VÌ
                BẠN PHẢI ĐẦU TƯ MÔ HÌNH NHÀ HÀNG VỐN TỐI THIỀU TỪ 300 TRIỆU
              </li>
              <li class="step-description">
                TỐN ÍT CHI PHÍ NÊN GIÁ THÀNH SẢN PHẨM BÁN RA THƯỜNG RẺ HƠN
              </li>
              <li class="step-description">
                DỄ DÀNG DI CHUYỂN TỪ ĐỊA ĐIỂM KINH DOANH NÀY ĐẾN ĐỊA ĐIỂM KINH
                DOANH KHOÁC
              </li>
              <li class="step-description">
                HẠN CHẾ VẦN ĐẾ KHẤU HAO CƠ SỞ VẬT CHẤT
              </li>
            </ul>
          </div>
        </div>

        <div class="container grid grid--2-cols grid--center-v">
          <!-- STEP 01 -->
          <div class="step-text-box">
            <h2 class="step-description">
              NHỮNG GÌ TÔI CÓ THỂ GIÚP BẠN TRONG KHOÁ HỌC NÀY?
            </h2>
            <ul>
              <li class="step-description">
                BẠN SẼ CÓ TƯ DUY KINH DOANH MÔ HÌNH ĐỒ QUAY NƯỚNG ĐÚNG CHUẨN
              </li>
              <li class="step-description">
                BẠN SẼ ĐƯỢC TƯ VẤN CHIẾN LƯỢC MARKETING, HỖ TRỢ TÌM KIẾM KHÁCH
                HÀNG TRÊN CÁC KÊNH TRUYỀN THÔNG VỚI HÀNG TRĂM NGHÌN NGƯỜI XEM
              </li>
              <li class="step-description">
                BẠN SẼ ĐƯỢC TẠO ĐIỀU KIỆN THUẬN LỢI CHO VIỆC SINH HOẠT, KHÔNG
                MẤT THÊM CHI PHÍ ĂN Ở VÀ ĐỒ THỰC TẬP TRONG QUÁ TRÌNH HỌC NGHỀ
              </li>
              <li class="step-description">
                BẠN SẼ ĐƯỢC TẠO ĐIỀU KIỆN THUẬN LỢI CHO VIỆC SINH HOẠT, KHÔNG
                MẤT THÊM CHI PHÍ ĂN Ở VÀ ĐỒ THỰC TẬP TRONG QUÁ TRÌNH HỌC NGHỀ
              </li>
              <li class="step-description">
                BẠN SẼ ĐƯỢC TRỰC TIẾP ĐỨNG BÁN, RÈN LUYỆN KĨ NĂNG BÁN HÀNG VÀ KĨ
                NĂNG CHẶT THÁI
              </li>
              <li class="step-description">
                BẠN SẼ ĐƯỢC CẦM TAY CHỈ VIỆC TẤT CẢ CÁC MÓN NHƯ: VỊT NƯỚNG LU,
                GÀ NƯỚNG LU, DỒI SỤN,...
              </li>
            </ul>
          </div>

          <div class="step-img-box">
            <img
              src="img/muctieu01.jpg"
              class="step-img"
              alt="iPhone app
              preferences selection screen"
            />
          </div>
        </div>

        <div class="container grid grid--2-cols grid--center-v">
          <!-- STEP 02 -->
          <div class="step-img-box">
            <img
              src="img/thamgia01.jpg"
              class="step-img"
              alt="iPhone app
                meal approving plan screen"
            />
          </div>
          <div class="step-text-box">
            <!-- <p class="step-number">02</p>
                <h3 class="heading-tertiary">Approve your weekly meal plan</h3> -->
            <h2 class="step-description">CAM KẾT CỦA TÔI VỚI HỌC VIÊN</h2>
            <ul>
              <li class="step-description">
                HỖ TRỢ PHÍ ĐI LẠI NẾU HỌC VIÊN ĐẾN TRẢI NGHIỆM ĂN CÁC SẢN PHẨM
                MÀ ĐÁNH GIÁ KHÔNG NGON
              </li>
              <li class="step-description">
                KHÔNG NHẬN ĐÀO TẠO HỌC VIÊN TRÙNG ĐỊA ĐIỂM VỚI NHỮNG HỌC VIÊN
                KHÁC ĐÃ TỪNG HỌC...
              </li>
              <li class="step-description">
                HƯỚNG DẪN NHIỆT TÌNH, CHIA SẺ TẬN TÂM GIÚP HỌC VIỆN TIẾP THỤ 1
                CÁCH TỐT NHẤT
              </li>
              <li class="step-description">
                KHẲNG ĐỊNH MÓN ĂN NGON, ĐỘC ĐÁO HƯƠNG VỊ HẤP DẪN
              </li>
              <li class="step-description">
                TẠO CƠ HỘI ĐỂ HỌC VIÊN CÓ THỂ RÈN LUYỆN KĨ NĂNG BÁN HÀNG THỰC
                CHIẾN
              </li>
              <li class="step-description">
                HỖ TRỢ HỌC VIỆN VIỆC TRUYỀN THÔNG MARKETING ĐIỂM BÁN
              </li>
            </ul>
          </div>
        </div>

        <div class="container grid grid--2-cols grid--center-v">
          <!-- STEP 01 -->
          <div class="step-text-box">
            <!-- <p class="step-number">01</p>
                <h3 class="heading-tertiary">
                  Tell us what you like (and what not)
                </h3> -->
            <!-- <p class="step-description">
                  Giúp học viên hiểu biết về mọi khía cạnh hoạt động của ngành nghề,
                  thành thạo kỹ năng cần thiết từ cơ bản đến chuyên sâu về phương
                  pháp nấu nướng chuyên nghiệp của nền ẩm thực đa quốc gia
                </p> -->
            <h2 class="step-description">
              QUÀ TẶNG CUỐI NĂM CHO 10 HỌC VIÊN ĐĂNG KÝ SỚM
            </h2>
            <ul>
              <li class="step-description">MÓN BA CHỈ NỔ BÌ</li>
              <li class="step-description">
                KHOÁ HỌC MARKETING ĐIỂM BÁN SAU KHAI TRƯƠNG
              </li>
              <li class="step-description">GIẢM GIÁ LÊN TỚI 5 TRIỆU ĐỒNG</li>
            </ul>
          </div>

          <div class="step-img-box">
            <img
              src="img/muctieu01.jpg"
              class="step-img"
              alt="iPhone app
                preferences selection screen"
            />
          </div>
        </div>
      </section>
    </main>

    <%- include('layouts/footer'); -%>
  </body>
</html>
